<div class="flex justify-content-center align-items-center min-h-screen">
  <div class="w-full sm:w-30rem p-3 surface-card shadow-2 border-round">
    <h2 class="text-center text-primary mb-4">Login</h2>

    <mat-form-field class="w-full mb-3">
      <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Nombre de Usuario">
    </mat-form-field>

    <mat-form-field class="w-full mb-3">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="Contraseña">
    </mat-form-field>

    <button mat-flat-button color="primary" class="w-full">
      <mat-icon class="mr-2">login</mat-icon>
      Ingresar
    </button>

    <div class="flex justify-content-end mt-3">
      <a routerLink="/auth/new-account" class="text-primary">¿No tienes cuenta?</a>
    </div>
  </div>
</div>
