<div class="flex justify-content-center align-items-center min-h-screen mb-auto">
    <div class="w-full sm:w-30rem p-3 surface-card shadow-2 border-round">
        <h2 class="text-center text-primary mb-4">Registro</h2>

        <mat-form-field class="w-full mb-3">
            <mat-label>Usuario</mat-label>
            <input type="text" matInput placeholder="Nombre de Usuario">
        </mat-form-field>

        <mat-form-field class="w-full mb-3">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput placeholder="Nombre">
        </mat-form-field>

        <mat-form-field class="w-full mb-3">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Contraseña">
        </mat-form-field>

        <button mat-flat-button color="primary" class="w-full">
            <mat-icon class="mr-2">person_add</mat-icon>
            Crear Cuenta
        </button>

        <div class="flex justify-content-end mt-3">
            <a routerLink="/auth/login" class="text-primary">¿Ya tienes cuenta?</a>
        </div>
    </div>
</div>
